*{box-sizing: border-box;}
#wrap{
  width: 100%;
  height: 100vh;
  background: thistle;
}
.dock{
  width: 100%;
  height: 40px;
  background: #ededed;
  padding-top: 5px;
  padding-left: 10px;
}
.dock .start-btn{
  padding: 5px 10px;
}
#wrap ul{list-style: none;}
#wrap ul li{}
#wrap ul li a{text-decoration: none; color: #000; display: inline-block; background: red; margin-top: 10px; padding: 20px 10px;}
#wrap ul li .icon:focus{background: rgba(0, 0, 255, .8);}
