*{box-sizing: border-box;}
#wrap{
  width: 100%;
  height: 100vh;
  background: thistle;
}
.desk-top{}
.dock{
  width: 100%;
  height: 40px;
  background: #ededed;
  padding-top: 5px;
  padding-left: 10px;
}
.dock .start-btn{
  padding: 5px 10px;
}
